* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr_header_main: skyblue;
  --clr_beacon_cutout: wheat;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.header_main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: var(--clr_header_main);
  background: linear-gradient(
    to right,
    #6cb4ee 0%,
    var(--clr_header_main) 50%,
    var(--clr_header_main) 100%
  );
  /* padding-left: 10px; */
  /* padding-top: 20px; */
}

.beacon_logo {
  width: 55px;
  height: 70px;
  display: block;
  padding-left: 10px;
  padding-top: 5px;
  /* background-color: aquamarine; */
}

.beacon_cutout {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* width: 100%; */
  height: 100%;
  /* background-color: var(--clr_beacon_cutout); */
  background: radial-gradient(at 0% 22%, cornsilk 0%, wheat 50%, wheat 100%);
  clip-path: polygon(28% 0, 100% 0, 100% 100%, 0% 22%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  /* clip-path: polygon(100% 0, 0 20%, 100% 100%);     */
  /* text-align: right; */
  /* position: relative; */
  /* z-index: 9999; */
  /* margin-right: -1px; */
  margin-left: -2px;
  /* z-index: 1; */
}

.beacon_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.beacon_text {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the text perfectly */
  z-index: 10000; /* Ensure it appears above everything else */
}

.beacon {
  height: 65px;
  display: block;
}

.chef {
  /* width: 80px; */

  height: 70px;
  display: block;
}

.chef_logo {
  height: 100%;
  padding-top: 10px;
  padding-right: 10px;
  background-color: var(--clr_beacon_cutout);
  /* margin-left: -20px;} */
}
